/* Importing fonts from an online web font service */
@import url(https://db.onlinewebfonts.com/c/67137b5f6928edc941186baaab5a664b?family=Lemon%2FMilk);
@import url(https://db.onlinewebfonts.com/c/c9df036989db75570c204c593fd6a5f1?family=Lemon%2FMilk+italic);
@import url(https://db.onlinewebfonts.com/c/842d23fdc945aad56dad0f0acfc83053?family=Lemon%2FMilk+light+italic);

/* Setting default font family for the whole page */
body {
  font-family: "Lemon/Milk", sans-serif;
}

/* Styles for the music player container */
.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.together {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

/* Styles for the wrapper container that holds the player's content */
.wrapper {
  width: 350px;
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.3) 0px 15px 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Styles for the details container displaying track information */
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Styles for the track artwork */
.track-art {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 1;
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the container height */
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.column-container {
  position: relative;
  display: inline-block;
}

.column-btn {
  background-color: #333;
  border: 2px transparent;
  border-radius: 50%;
  color: white;
  padding: 10px 12px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.column-btn:hover {
  opacity: 1;
}

.column-content {
  background-color: #111;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 35px;
}

.column-content a {
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.column-content a:hover {
  background-color: #ddd;
  color: #111;
}

.wave-bar {
  flex: 1;
}

#wave {
  padding-left: 40px;
}

/* Styles for the "Now Playing" text */
.now-playing {
  font-size: 1rem;
  flex: 1;
}

/* Styles for the track name */
.track-name {
  font-size: 2rem;
  font-family: "Lemon/Milk italic";
}

/* Styles for the track artist name */
.track-artist {
  margin-top: 5px;
  font-size: 1.3rem;
  font-family: "Lemon/Milk light italic";
}

/* Styles for the control buttons */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

/* Styles for the active button */
.active {
  color: black;
}

/* Common styles for the control buttons */
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 20px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

/* Button hover styles */
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 0.86;
}

/* Styles for the slider containers */
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the seek slider and volume slider */
.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #45474b;
  transition: opacity 0.2s;
  -webkit-transition: 0.2s;
}

/* Styles for the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 3px solid darkgray;
  cursor: grab;
  border-radius: 100%;
}

/* Slider hover styles */
.seek_slider:hover,
.volume-slider:hover {
  opacity: 1;
}

/* Custom widths for the seek and volume sliders */
.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

/* Styles for the current time and total duration display */
.current-time,
.total-duration {
  padding: 5px;
  font-family: "Lemon/Milk italic";
}

/* Styles for the volume control icons */
i.fa-volume-down,
i.fa-volume-up {
  padding: 5px;
}

/* Cursor style for the control icons */
i,
i.fa-play-circle,
i.fa-pause.circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

/* Styles for the random icon when the random track feature is active */
.randomActive {
  color: black;
}

/* Animation for the loading spinner */
.rotate {
  animation: rotation 5s infinite linear;
}

/* Keyframes for the loading spinner rotation animation */
@keyframes rotation {
  from {
    transfrom: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Styles for the individual strokes in the loading spinner animation */
.loader {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
    background: #45474b;
  }

  100% {
    background: #45474b;
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}

.popup-container {
  position: relative;
  display: inline-block;
}

.popup-btn {
  background-color: #333;
  border: 2px transparent;
  border-radius: 50%;
  color: white;
  padding: 10px 12px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.popup-btn:hover {
  opacity: 1;
}

.popup-content {
  display: none;
}

/* ... Existing CSS code ... */

/* Styles for the active help popup content */
.popup-container.active .popup-content {
  display: block;
  position: fixed;
  background-color: #111;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;

  /* Add transition for smooth appearing and disappearing */
  opacity: 0;
  transform-origin: center;
  animation: fadeInOut 0.3s forwards;
}

/* Animation for the popup fadeIn and fadeOut effect */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Styles for the links inside the help popup */
.popup-content a {
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 0; /* Hide the links initially */
  transform: translateY(10px); /* Slide them down a bit */
  transition: opacity 0.3s, transform 0.3s;
}

/* Styles for the link hover state inside the help popup */
.popup-content a:hover {
  background-color: #ddd;
  color: #111;
}

/* Animation for the links fadeIn effect */
.popup-container.active .popup-content a {
  opacity: 1;
  transform: translateY(0);
}
